<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <mu-container id="app">
    <mu-flex justify-content="center">
      <mu-paper :z-depth="1">
        <mu-appbar color="primary">
          还款倒计时
        </mu-appbar>
        <mu-grid-list class="gridlist-demo">
          <mu-sub-header>还款倒计时：<mu-badge :content="`${latestRepay.days}`" circle color="secondary"></mu-badge> 天 <mu-chip color="blue300">{{latestRepay.bank}}</mu-chip></mu-sub-header>
          <mu-grid-tile v-for="tile,index in list" :key="`tile${index}`">
            <div class="tile" :style="{backgroundColor: colors[index]}">
              <mu-row class="tile-row" v-for="item,i in tile.data" :key="`data${i}`">
                <mu-col span="6">
                  {{item.name}}
                </mu-col>
                <mu-col span="6">
                    {{item.day}}日
                  </mu-col>
              </mu-row>
            </div>
            <span slot="title">{{tile.name}}</span>
            <span slot="subTitle">最近还款日 <b>{{today.year}}-{{today.month}}-{{latestRepayInBank(tile).day}}</b></span>
          </mu-grid-tile>
        </mu-grid-list>
      </mu-paper>
    </mu-flex>
  </mu-container>
  <script src="./index.js"></script>
</body>
</html>